doctype html
html
  head
    meta(charset="utf-8")
    link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet')
    link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")

  style.
    body, h1, h2, h3, h4, h5, h6 {
      font-family: 'Montserrat';
    }
    .toprow {
      display: flex;
      justify-content: space-between;
    }

body
  form(action='/logout', method='POST', class='toprow')
    h1(class='w3-wide') #{gr} #{fn} #{ln}
    input(type='submit', value='Log out', class='w3-button')

  div(class='w3-container w3-blue')
    h5 Find a password:

  div(class='w3-margin')
    form(action='/passfind', method='POST')
      p
        label Website name: 
        input(type='text', name='fwn', value='', class='w3-input')
      input(type='submit', value='Find', class='w3-btn w3-black')
    form(action='/sapdef', method='POST')
      input(type='submit', value='Show all passwords', class='w3-button')

  div(class='w3-container w3-green')
    h5 Add a new password:

  div(class='w3-margin')
    form(action='/passadd', method='POST')
      p
        label Website name: 
        input(type='text', name='awn', value='', class='w3-input')
        label Your website login: 
        input(type='text', name='alg', value='', class='w3-input')
        label Your website password: 
        input(type='password', name='apw', value='', class='w3-input')
      input(type='submit', value='Add', class='w3-btn w3-black')

  div(class='w3-container w3-yellow')
    h5 Update an added password:

  div(class='w3-margin')
    form(action='/passupdate', method='POST')
      p
        label Website name: 
        input(type='text', name='uwn', value='', class='w3-input')
        label Your new website login (if unchanged, leave empty): 
        input(type='text', name='unlg', value='', class='w3-input')
        label Your new website password (if unchanged, leave empty): 
        input(type='password', name='unpw', value='', class='w3-input')
      input(type='submit', value='Update', class='w3-btn w3-black')

  div(class='w3-container w3-purple')
    h5 Delete an added password:

  div(class='w3-margin')
    form(action='/passdelete', method='POST')
      p
        label Website name: 
        input(type='text', name='dwn', value='', class='w3-input')
      input(type='submit', value='Delete', class='w3-btn w3-black')

