doctype html
html
  head
    meta(charset="utf-8")
    link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet')
    link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")

style.
    body, h1, h2, h3, h4, h5, h6 {
      font-family: 'Montserrat';
    }
    h1 {
      font-weight: bold;
    }
    .th {
      font-weight: bold;
      font-size: 180%;
    }
    .barsort {
      font-size: 90%;
    }
    .labsort {
      font-style: italic;
      font-weight: bold;
    }
    .dropdown {
      font-size: 95%;
      width: 200px;
    }

body

  div(class='w3-margin')
  table(class='w3-table-all w3-hoverable')
    tr
      th(class='th') Website
      th(class='th') Login
      th(class='th') Password
    each value in arrx
      tr
        form(action='/sapdelrw', method='POST')
          td= value[0]   
          td= value[1]
          td= value[2]

    //-
      div(class='w3-bar w3-black barsort')
        label(class='w3-bar-item labsort') Sort table by:
        form(action='/sapsort1', method='POST')
          input(type='submit', value='Alphabet (websites)', class='w3-bar-item w3-button')
        form(action='/sapsort2', method='POST')
          input(type='submit', value='Alphabet (passwords)', class='w3-bar-item w3-button')
        form(action='/sapdef', method='POST')
          input(type='submit', value='Time added (default)', class='w3-bar-item w3-button')

  div(class="w3-dropdown-hover dropdown")
    button(class="w3-wide w3-button labsort dropdown w3-black") Sort table by:
    div(class="w3-dropdown-content dropdown w3-bar-block w3-border")
      form(action='/sapsort1', method='POST')
        input(type='submit', value='Alphabet (websites)', class='w3-bar-item w3-button')
      form(action='/sapsort2', method='POST')
        input(type='submit', value='Alphabet (passwords)', class='w3-bar-item w3-button')
      form(action='/sapdef', method='POST')
        input(type='submit', value='Time added (default)', class='w3-bar-item w3-button') 

  


                